@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.hero-slider .carousel-item img {
  object-fit: cover;
  height: 100%;
}

.hero-slider .carousel-item {
  height: 500px;
}

.btn-plan {
  background-color: #f496d144;
}

.rounded-50 {
  border-radius: 50px;
}
.rounded-20 {
  border-radius: 20px;
}
.rounded-10 {
  border-radius: 10px;
}

.fs-7 {
  font-size: 0.8rem;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05) translateY(-1rem);
  z-index: 999;
}

.card-popular {
  height: calc(100% + 1rem);
  transform: translateY(-1rem);
}

.card-popular:hover {
}

.card-body {
}

.fw-600 {
  font-weight: 600 !important;
}

.end-90 {
  right: 5px;
}

.object-fit-cover {
  object-fit: cover;
}