@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}


.hero-slider .carousel-item img {
  object-fit: cover;
  height: 100%;
}

.hero-slider .carousel-item {
  height: 500px;
}